
#all{
	transition: 1s;
}

#about{
	transition: 0.6s;
}

#home{
	transition: 0.6s;
}

#fecha{
	color: #fff;
	font-family: sans-serif;
	text-shadow: 0px 0px 5px black;
	float: right;
	margin-right: 30px;
	font-size: 15pt;
	transition: 0.5s;
}
#fecha:hover{
	color: #cc1754;
	cursor: pointer;
}

#box{
	opacity: 0;
	background: #000;
	box-shadow: 0px 0px 10px black;
	border: none;
	border-radius: 15px;
	width: 30%;
	border: none;
	height: 364px;
	position: fixed;
	margin-left: 35%;
	margin-right: 35%;
	top: 30%;
	text-align: center;
	transition: 0.6s;
	
	/* transform: scale(1); */
	/* background: rgb(172, 37, 59); */
}











/* Login */


#fazer-login{
	display: none;
}


#fazer-login form{
	display: flex;
	flex-direction: column;
	margin-left: 50%;
	margin-top: -264px;
	padding: 5px;
	margin-right: 20px;
}

#fazer-login button{
	width: 90px;
	padding: 5px;
	position: relative;
	top: 15px;
	margin-left: 30px;
	background: #000;
	border: none;
	box-shadow: 0px 0px 3px black;
	border-radius: 5px;
	padding: 5px;
	transition: 0.5s;
	color: #fff;
}

#fazer-login button:hover{
	background: #cc1754;
	text-shadow: 0px 0px 4px black;
	cursor: pointer;
	outline: none;
}

#fazer-login input{
	padding: 10px;
	margin: 6px;
	border: none;
	/* margin-right: 30px; */
	transition: 0.5s;
	border-bottom: 1px solid #cc1754;
	outline: none;
	color: #fff;
	box-shadow: 0px 0px 3px black;
	background: black;
}


#fazer-login input:hover{
	cursor: pointer;
	border-radius: 5px;
	background: #cc1754;
}







/* cadastro */


#cadastro form{
	margin-top: 20px;
	margin-left: 20px;
	outline: none;
	display: flex;
	padding: 5px;
	flex-direction: column;
	margin-right: 50%;
}

#cadastro{
	display: none;
}

#cadastro input{
	padding: 10px;
	margin: 5px;
	border: none;
	margin-right: 30px;
	transition: 0.5s;
	border-bottom: 1px solid #cc1754;
	outline: none;
	color: #fff;
	box-shadow: 0px 0px 3px black;
	background: black;
}

#cadastro input:hover{
	cursor: pointer;
	border-radius: 5px;
	background: #cc1754;
}

#cadastro span{
	margin-left: 30%;
	color: #fff;
	position: relative;
	top: 20px;
	font-family: sans-serif;
}

#cadastro a{
	color: #cc1754;
}

#cadastro input[type="checkbox"]{
	margin-left: 20%;
	cursor: pointer;
}

#cadastro button#reset{
	position: relative;
	top: -5px;
	outline: none;
	margin-left: 50px;;
}

#cadastro button{
	position: relative;
	top: 30px;
	width: 90px;
	float: left;
	margin-left: 190px;
	background: #000;
	border: none;
	box-shadow: 0px 0px 3px black;
	border-radius: 5px;
	padding: 10px;
	transition: 0.5s;
	color: #fff;
}

#cadastro button:hover{
	background: #cc1754;
	text-shadow: 0px 0px 4px black;
	cursor: pointer;
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255,255,255,0.6);
	/* text-align: center; */
 }